

/*全体*/
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 30px 0;
    height: auto;
    opacity: 1;
}

/* 出店
https://cotodama.co/search-box/
 */

 /* 検索窓用CSS */
.search_container{
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    display: block;
    padding: 3px 10px;
    border-radius: 100px;
    height: 4.3em;
    width: 800px;
    overflow: hidden;
}

.search_container input[type="text"]{
    border: none;
    height: auto;
    font-size: 3.5em;
    margin-left: 20px;
}

.search_container input[type="text"]:focus {
    outline: 0;
}

.search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 2.0em;
    border: none;
    background: none;
    color: #3879D9;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -5px;
    outline : none;
}

.popupSearch {
    width: 800px;
    margin: auto;
}

.popupSearch__topSection {
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: gray dotted 1px;
    
}

.popupSearch__underSection {
    
}

.subTitle {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;

}

.tabList {
    display: flex;
    justify-content: space-around;
    width: 800px;
    padding: 0;
    margin: auto;
}

.tabList__clum {
    width: 19%;
    text-decoration: none;
    list-style: none;
    border-bottom: #666 solid 2px;
    text-align: center;
}

.keywordList {
    list-style: none;
    padding: 0;
}

.keywordList__clum {
    display: inline-block;
    border: gray solid 1px;
    border-radius: 8px;
    font-size: 14px;
    margin: 4px;
    padding:8px 10px;
}

.keywordList__link {
    text-decoration: none;
    color: #333;
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;

}